<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List auction items</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/add-customer-style.css" th:href="@{/css/add-customer-style.css}" rel="stylesheet"/>

</head>


<body>

<div id="wrapper">
    <div id="header">
        <h2>AHM - Auction House Manager</h2>
    </div>
</div>

<div id="container">
    <h3> Save Bidder </h3>


    <form action="#" th:action="@{/bidder/saveBidder}" th:object="${bidder}" method="post">

        <!-- this is to associate this date with auction item id -->
        <input type="hidden" th:field="*{id}"/>

        <table>
            <tbody>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>

            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Save"/></td>
            </tr>

            </tbody>
        </table>
    </form>
    <p>
        <a th:href="@{/bidder/list}">Back to list</a>
    </p>

</div>

</body>
</html>