<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Auction House Managery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>

<body>

<h1 style="font-size:45px;">Welcome to our Auction House!</h1>

<div>
    <p style="font-size:150%;"><a th:href="@{/auction_item/list}">Go to Auction Items</a></p>
</div>

<div>
    <p style="font-size:150%;"><a th:href="@{/bidder/list}">Go to Bidders</a></p>
</div>

<div>
    <p style="font-size:150%;"><a th:href="@{/bids/list}">Go to Current Bids</a></p>
</div>
</body>

</html>