<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>List auction items</title>
    <link href="../static/css/add-customer-style.css" th:href="@{/css/add-customer-style.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>AHM - Auction House Manager</h2>
    </div>
</div>

<div id="container">

    <div id="content">
        <!-- add auction item button -->
        <!-- TODO use thymeleaf form tags instead of normal html -->
        <input type="button" value="Add Item"
               onclick="window.location.href='showFormForAdd'; return false;"
               class="add-button"
        />

        <!--  add our html table here  -->
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

            <tr th:each="item : ${auction_items}">
                <td th:text="${item.name}">Name goes here</td>
                <td th:text="${item.price}">Price ...</td>

                <!-- TODO refactor links to be outside of the table, with local references pointing towards them -->
                <!-- display the update link -->
                <td><a th:href="@{/auction_item/showFormForUpdate(auctionItemId=${item.id})}">Update</a>
                    |
                    <a onclick="return confirm('Are you sure you want to delete this auction item?');"
                       th:href="@{/auction_item/delete(auctionItemId=${item.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>